footer {
  background-color: #808080;
  padding: 30px 0;
}
/* ---- first row ---- */
footer .first-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 12px 0;
}
footer .first-row span {
  font-size: 13px;
  line-height: 160%;
  color: #B0B0B0;
  margin: 0 6px 0 0;
  border-right: 1px solid #C3C3C3;
  padding: 0 6px 0 0;
}
footer .first-row a {
  display: block;
  font-size: 13px;
  line-height: 160%;
  color: #E9E9E9;
  text-decoration: none;
  margin: 0 6px 0 0;
  border-right: 1px solid #C3C3C3;
  padding: 0 6px 0 0;
}
footer .first-row a:hover {
  text-decoration: underline;
}
footer .first-row a:last-of-type {
  margin: 0;
  border: 0;
  padding: 0;
}
/* ---- second row ---- */
footer .second-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 28px 0;
}
footer .second-row a {
  display: block;
  font-size: 13px;
  line-height: 160%;
  color: #E9E9E9;
  text-decoration: none;
  margin: 0 6px 0 0;
  border-right: 1px solid #C3C3C3;
  padding: 0 6px 0 0;
}
footer .second-row a:hover {
  text-decoration: underline;
}
footer .second-row a:last-of-type {
  margin: 0;
  border: 0;
  padding: 0;
}
/* ---- third row ---- */
footer .third-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
footer .third-row p {
  font-size: 13px;
  line-height: 160%;
  color: #E9E9E9;
  margin: 0 10px 0 0;
}
footer .third-row img {
  display: inline-block;
  margin: 0 10px 0 0;
}
footer .third-row img:last-of-type {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  footer .first-row {
    display: block;
    text-align: center;
    margin: 0 0 15px 0;
  }
  footer .first-row span,
  footer .first-row a {
    padding: 0;
    border: 0;
    margin: 0 0 5px 0;
  }
  footer .second-row {
    display: none;
  }
  footer .third-row {
    display: block;
    text-align: center;
    margin: 0;
  }
  footer .third-row p,
  footer .third-row a {
    padding: 0;
    border: 0;
    margin: 0 0 5px 0;
  }
}
